.header-bgm{
    background: linear-gradient(to right,#acb6e5,#86fde8);
    padding: 8px;
}


.logo{
    height: 10vh;
    width: 100%;
    border-radius: 10% 50% 10% 50%;
}
.nav-links{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    color: black;
}
