@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-bgm{
  background: linear-gradient(to right,#ffefba,#ffffff);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.home-heading{
  font-weight: bold;  
}

.std-button{
  height: 60px;
  width: 150px;
  background: linear-gradient(to right,#acb6e5,#86fde8);
  border-radius: 10px;
  font-weight: bold;
  color: black;
}
.money-manager-image{
  border-radius: 100px 5px 5px 100px;
}

/* Default border-radius for all screens */
.money-manager-image {
  border-radius: 10px;
  width: 100%;
}

/* Apply different border-radius values based on media queries */
@media screen and (min-width: 576px) {
  /* Small screens and larger */
  .money-manager-image {
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  /* Medium screens and larger */
  .money-manager-image {
    border-radius: 30px;
  }
}

@media screen and (min-width: 992px) {
  /* Large screens and larger */
  .money-manager-image {
    border-radius: 40px;
  }
}

@media screen and (min-width: 1200px) {
  /* Extra-large screens and larger */
  .money-manager-image {
    border-radius: 100px 5px 5px 100px;
  }
}



.features-bgm-main{
background: linear-gradient(to right, #2980b9,#6dd5fa);
background-size: cover;
min-height: 100vh;
  

}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 27px;
  text-align: center;
  padding-top: 10px;
}
@media screen and (min-width:767px){
  .waviy{
    font-size: 60px;
  }
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 3s infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* Flip card container */
.flip-card {
  perspective: 1000px;
  width: 200px;
  height: 100px;
  margin: 50px;
}

/* Flip card inner container */
.flip-card-inner {
  
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Front of the card (initial state) */
.flip-card-front,
.flip-card-back {
  
  position: absolute;
  backface-visibility: hidden;
}

/* Style for the front of the card */
.flip-card-front {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 150px;
  background: linear-gradient(to right,#acb6e5,#86fde8);
  border-radius: 10px;
  font-weight: bold;
  color: black;
}

/* Style for the back of the card */
.flip-card-back {
  background: linear-gradient(to right,#acb6e5,#86fde8);
  border-radius: 10px;
  font-weight: bold;
  color: black;
  transform: rotateY(180deg);
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

/* Button styling */
.flip-button {
  
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for the button */


/* Hover effect to flip the card */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.about-bgm{
  background: linear-gradient(to right, #2193b0 , #6dd5ed);
  background-size: cover;
  min-height: 100vh;

}
